h1 {
  font-size: 100px;
  font-family: Helvetica;
  font-weight: bold;
  height: auto;
  width: auto;
  text-align: center;
  margin: auto;
  color: white;
  background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHVzdnU4eXF1MTU2bDU0Ym45ZXhvaWV4MHJxbXAybXE0aTk4N3lrMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YkXNjAkG7CfEVx3gcy/giphy.gif");
}
  
  
  
