h1 {
  font-size: 100px;
  font-family: Helvetica;
  font-weight: bold;
  height: auto;
  width: auto;
  text-align: center;
  margin: auto;
  color: white;
  background-image: url("./earth.gif");
}
  
  
  
