.banner {
  font-family: Arial;
  font-size: 100px;
  height: auto;
  width: auto;
  color: red;
  text-align: center;
  font-weight: bold;
}

.navbar {
  font-family: Arial;
  background-color: white;
}

.navbar li {
   display:inline-block;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: red;
    font-weight: 900;
}

p {
  color: red;
  font-family: Arial;
  text-align: center;
  font-size: 50px;
}

#deadpool {
  height: 200px;
    width: 300px;
    filter: drop-shadow(2px 2px 2px black);
  vertical-align: middle;
}
  
  
