.banner {
  text-family: Helvetica;
  font-size: 100px;
  height: auto;
  width: auto;
  color: red;
  text-align: center;
  font-weight: bold;
}

.navbar {
  text-family: Helvetica;
  background-color: white;
}

.navbar li {
   display:inline-block;
    padding: 0 30px;
}

.navbar a {
    text-decoration: none;
    color: red;
    font-weight: 900;
}

p {
  color: red;
  text-family: Helvetica;
  text-align: center;
}

  
