h1 {
  font-size: 100px;
  font-family: Verdana;
  font-weight: bold;
  height: auto;
  width: auto;
  text-align: center;
  margin: auto;
  background-image: url("./docs/assets/Shark_banner.gif");
  
}

h2 {
  font-family: Verdana;
  font-weight: bold;
  background-color: lightseagreen;
  text-align: center;
}

#icecream {
  align: center;
}
  
  
