h1 {
  font-size: 100px;
  font-family: Verdana;
  font-weight: bold;
  height: auto;
  width: auto;
  text-align: center;
  margin: auto;
  
}

h2 {
  font-family: Verdana;
  font-weight: bold;
  background-color: lightseagreen;
}

#icecream {
  align-items: center;
}
  
  
